# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
*.log

# Local overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
# SSH keys
guac
*.pem
.env
.env.tpl