# Terraform runtime
.terraform/
terraform.tfstate
terraform.tfstate.backup
crash.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Terraform variable overrides
terraform.tfvars

# Sensitive key material
guac
*.pem
*.key
.env

# OS / editor noise
.DS_Store
.vscode/
.idea/
*.swp
*.log